<web-app>
    <servlet>
        <servlet-name>puppy</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>puppy</servlet-name>
        <url-pattern>/puppy/*</url-pattern>
    </servlet-mapping>

</web-app>